<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Página Principal</title>
</head>
<body>
    <div class="container home-page">
        <h1>Bienvenido a la Página Principal</h1>
        <div class="links">
            <a href="/user/register" class="navigation-link">Registrarse</a>
            <a href="/user/login" class="navigation-link">Iniciar Sesión</a>
        </div>
    </div>
</body>
</html>
