<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Hi <%= locals.user ? user.fullName : null %></h1>
    <img src="/images/avatars/<%= locals.user ? user.image : null %>" alt="">
    <br>
    <br>
    <p><%= locals.user ? user.email : null%></p>
</body>
</html>