body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.registration-form .back-button,
.login-form .back-button {
    display: block;
    text-decoration: none;
    background-color: #ccc;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.registration-form .back-button:hover,
.login-form .back-button:hover {
    background-color: #aaa;
}

.registration-form form,
.login-form form {
    display: flex;
    flex-direction: column;
}

.registration-form h1,
.login-form h1 {
    text-align: center;
}

.registration-form label,
.login-form label {
    margin-top: 10px;
}

.registration-form input,
.login-form input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.registration-form button,
.login-form button {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registration-form button:hover,
.login-form button:hover {
    background-color: #0b7dda;
}
